.MyInput {
  width: 100%;
  padding: 15px 15px;
  border: transparent;
  margin-top: 0px;
  background: #383838;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 10px;
}

.MyInput::placeholder {
  color: rgb(216, 216, 216);
}

.MyInput:focus {
  outline: none;
  box-shadow: 0px 0px 3px #666666;
}
