.button {
  margin-top: 15px;
    border-radius: 10px;
    font-size: 16px;
    transition: linear 0.1s;
    font-family: var(--font);
    
    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover{
      color:rgb(34, 130, 194);
    }


  } 

  .active {
    text-decoration: underline rgb(25, 93, 138) 3px ;
    text-underline-offset: 10px;
  }