.history_inner{
    display: flex;
    background-color: var(--main-blue-color);
    padding: 7px 7px;
    border-radius: 10px;
    align-items: center;
    

    &:not(:last-child) {
        margin-right: 10px;
    }

    .title{
        margin-right: 10px;
        user-select: none; /* Для большинства браузеров */
        -webkit-user-select: none; /* Для Safari */
        -moz-user-select: none; /* Для Firefox */
        -ms-user-select: none; /* Для Internet Explorer/Edge */
    }
    .cancel_icon{
        width: 12px;
        height: 12px;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        cursor: pointer;
        

        span{
        height: 2px;
        transform: scale(1);
        background-color: #ffffff;
        }

        &::before, &::after {
            content: '';
            width: 100%;
            right: 0;
            position: absolute;
            bottom: 50%;
            height: 2px;
            background-color: #ffffff;

        }

        &::before {
            top: 50%;
            transform: rotate(-45deg) translate(0, -50%); 
        }

        &::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0, 50%);
        }

        &:hover{
            &::before, &::after {
                background-color: rgb(255, 73, 73)
            }

        }
    }
    span {
        transform: scale(0);
    }
}