.auth_wrapper{
    
    max-width: 300px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(49, 49, 49, 0.418);
    box-shadow: 0px 5px 10px rgba(15, 15, 15, 0.418);
    &.light{
        background-color: white;
    }
    &.dark{
        background-color: rgba(49, 49, 49, 0.418);
    }
    
    .buttons_inner{
        display: flex;     
        padding: 5px;
        border-radius: 10px;
        
        .button{
            width: 100%;
            padding: 10px 15px;
            background-color: rgb(53, 53, 53); 
            border-radius: 5px;            
            transition: linear 0.1s;

           &:hover{
            background-color: rgb(73, 73, 73); 

           }
            &:not(:last-child) {
                margin-right: 5px;
            }
        
        
            &.light{
                background-color: white;
                color: black;
            }
            &.dark{
                background-color: rgba(49, 49, 49, 0.418);
            }
        }
    }
}