.feedback__create_btn {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-top: 15px;
        background-color: var(--main-blue-color);
        padding: 10px 15px;
        border-radius: 5px;
    }



