.profile_wrapperr {
  
  height: 110px;
  margin: 10px;
  padding: 0px 10px 0px 10px;
  border-radius: 15px;
  background-color: rgb(34, 34, 34, 0.6);
  border: 1px solid rgb(102, 102, 102) ;
  
  .profile_info_inner{
    display: flex;
    height: 100%;
    align-items: center;
    .profile_avatar {
      
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 2px solid #dddddd; 
    }
    .profile_info{
      margin-left: 20px;
      padding-top: 20px;
      align-items: start;
      display: flex;
      flex-direction: column;
      // background-color: rgb(92, 95, 95);
      .profile_name {
        font-size: 25px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        
        line-height: 0.7;
      }
      .profile_date{
        // margin-left: 10px;
        margin-top: 10px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        opacity: 0.5;
        font-size: 13px;
      }
    }  
  }

  @media(max-width: 550px) {
    height: 220px;
      .profile_info_inner{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .profile_info{
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          margin-left: 0px;
          margin-top: 5px;
        }
      }
    
      
  }
}
