.comments_container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    margin-top: 20px;

    .text{
        font-family: var(--basic_fonts);
        font-size: 30px;
        
    }
}