.home_inner {
  

  .home_main_title {
    margin-top: 60px;
    font-family: var(--font);
  }

  .cards_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
  }

  @media (max-width: 800px) {
    .cards_wrapper {
      
      grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }
  }
}

